body {
}

.demo-h1 {
  font-weight: 100;  
}

.demo-h2 {
  font-weight: 100;
}

.demo-wrapper {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 30px auto;
  padding: 0px 0px 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.demo-form {}

.demo-form_label {
  display: block;
}

.demo-form__input {
  display: block;
  margin-bottom: 12.5px;
}

.demo-form_label {
  display: none;
}

.demo-form__input:nth-last-of-type(1) {
  margin-bottom: 25px;
}

.demo-form__submit {
  letter-spacing: .5px;
  border: 1px solid black;
  border-radius: 0px;
  background-color: white;
  width: 125px;
  height: 30px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: serif;
  font-weight: 700;
}

.demo-form__submit:nth-of-type(1) {
  margin-right: 25px;
}

.demo-form__submit:hover {
  cursor: pointer;
}

.demo-img {
  max-width: 100%;
  display: block;
  height: auto;
  transition: .75s;
}

.test {
  height: 250px;
  transition: 1s;
  margin-top: 30px;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  overflow: hidden;
}